# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run Acceptance and Unit tests (with and without visualisation dependencies)

on:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    
    - name: Install dependencies (without extra visualisation dependencies)
      run: |
        python -m pip install --upgrade pip           # upgrade pip to latest version
        pip install .                                 # no additional [visualization] dependencies
    
    - name: Run tests (without visualisation dependencies)
      run:  python run_tests.py
    
    - name: Install extra visualisation dependencies
      run:  pip install ".[visualization]"            # extra [visualization] dependencies in pyproject.toml
    
    - name: Run Tests (with visualisation dependencies)
      run:  python run_tests.py

